/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef5e1; /* Fondo pastel suave */
    color: #333;
}

header {
    background-color: #f9e4b7; /* Amarillo pastel claro */
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #2f7a3f; /* Verde oscuro */
    margin: 0;
}

header p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

main {
    padding: 40px 20px;
}

.box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #faf4d7; /* Fondo claro pastel */
}

.box h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    color: #2f7a3f;
    margin-bottom: 20px;
}

.box p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

footer {
    background-color: #f9e4b7; /* Amarillo pastel claro */
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #4caf50;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

footer a:hover {
    background-color: #4caf50;
    color: white;
}

